@page "/deleteCustomer/{Id:int}"
@inherits DeleteCustomerSupportBase

<h3>Delete Customer Details</h3>

<DisplayCustomer Customer="Customer" UpdateCustomerL="@(() => UpdateCustomer(Customer.CustomerID))" DeleteClickL="DeleteClick"
                 ShowFooterMethod="ShowFooterMethod" HideFooterMethod="HideFooterMethod" CancelMethod="Cancel" HideFooter="HideFooter" ShowFooter="ShowFooter"
                 URL="@("/listOfCustomers")" />

<ConfirmDelete @ref="DeleteConfirmation" ConfirmationChanged="CustomerToDelete" ConfirmationMessage="@($"Are you sure you want to delete {NameOfCustomer}?")"
               ConfirmationTitle="Customer Delete Confirmation"/> 