@page "/confirmedAppointments"
@inherits ConfirmedAppointmentsBase


<br />
<div class="border">
    <div class="card-header text-center">
        <h2>List of Confirmed Appointments</h2>
    </div>

    <br />

    <SearchItem OnSearchItem="HandleSearch" />

    <br />

    <AppointmentListInfo Appointments="Appointments" OnConfirmationed="OnConfirmed" />
</div>